@font-face { 
    font-family: 'PtSansNarrow';      
    src: url('../fonts/ptsansnarrow.woff');
    src: url('../fonts/ptsansnarrow.woff2');
    font-weight: 400;              
    font-style: normal; 
  } 
  
  @font-face { 
    font-family: 'PtSansNarrowBold';      
    src: url('../fonts/ptsansnarrowbold.woff'); 
    src: url('../fonts/ptsansnarrowbold.woff'); 
    font-weight: 700;              
    font-style: bold; 
  } 
  