@font-face { 
    font-family: 'Gilroylight';      
    src: url('../fonts/gilroylight.woff'); 
    font-weight: 400;              
    font-style: normal; 
  } 
  
  @font-face { 
    font-family: 'Gilroylight';      
    src: url('../fonts/gilroylight.woff2'); 
    font-weight: 400;              
    font-style: normal; 
  } 

  @font-face { 
    font-family: 'GilroyBold';      
    src: url('../fonts/gilroyextrabold.woff'); 
    font-weight: 700;              
    font-style: normal; 
  } 

  @font-face { 
    font-family: 'GilroyBold';      
    src: url('../fonts/gilroyextrabold.woff2'); 
    font-weight: 700;              
    font-style: normal; 
  } 

  @font-face { 
    font-family: 'OpenSans';      
    src: url('../fonts/opensans.woff'); 
    font-weight: 400;              
    font-style: normal; 
  } 

  @font-face { 
    font-family: 'OpenSans';      
    src: url('../fonts/opensans.woff2'); 
    font-weight: 400;              
    font-style: normal; 
  } 
  
  @font-face { 
    font-family: 'OpenSansLight';      
    src: url('../fonts/opensanslight.woff'); 
    font-weight: 400;              
    font-style: normal; 
  } 

  @font-face { 
    font-family: 'OpenSansLight';      
    src: url('../fonts/opensanslight.woff'); 
    font-weight: 400;              
    font-style: normal; 
  } 