body {
    font-style: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;

    color: #000;

    /* background: #111 url("../img/bckgr-index.jpg") no-repeat center top; */
}